<div class="hud-item generic-telex-block">
    <div class="hud-box-header">
        <span class="hud-box-title">TELEX DATA EXTRACT</span>
        <span class="hud-box-type">[<%= section.type.toUpperCase() %>]</span>
    </div>
    <div class="hud-generic-content">
        <pre class="hud-mono-text"><%= section.renderedText %></pre>
    </div>
</div>
