<div class="hud-item telnet-timeline-header-hud" style="border-left-color: var(--text-cyan); margin-bottom: 5px;">
    <div class="hud-box-header">
        <span class="hud-box-title" style="color: var(--text-cyan);">>>> <%= t('reports.telnetDetail.timeline').toUpperCase() %></span>
        <span class="hud-box-subtitle"><%= t('reports.fragments.hud.session').toUpperCase() %>: <%= data.sessionId %></span>
    </div>
</div>
