<div class="classic-item telex-extract-formal">
    <div class="formal-telex-header">
        <span class="formal-telex-title"><%= t('reports.fragments.classic.telexExtract') %></span>
        <span class="formal-telex-type">[<%= section.type.toUpperCase() %>]</span>
    </div>
    <div class="formal-telex-body">
        <pre class="mono-telex-classic"><%= section.renderedText %></pre>
    </div>
</div>
