<div class="classic-item ip-info-classic">
    <div class="classic-header-block">
        <div class="classic-badge-formal"><%= t('reports.fragments.classic.subjectIdentified').toUpperCase() %></div>
        <div class="classic-ip-formal"><%= data.ip %></div>
    </div>
    <div class="classic-meta-info">
        <p><%= t('reports.fragments.classic.subjectIdentityRevealed', { locale: locale.toUpperCase() }) %></p>
    </div>
</div>
