<div class="classic-item ip-whois-formal">
    <div class="formal-header-bar">
        <span class="formal-title"><%= t('reports.fragments.ipWhoisTitle') %></span>
        <span class="formal-id"><%= t('reports.fragments.classic.whoisRawData').toUpperCase().replace(/ /g, '-') %></span>
    </div>
    <div class="payload-box-classic">
        <div class="rawData-container">
            <pre class="whois-raw-classic"><%= data.whois || data.rawData %></pre>
        </div>
    </div>
</div>
<%- include("_observations", { section: section }) %>
