[honeypot]
hostname = mail01
log_path = var/log/cowrie
download_path = var/lib/cowrie/downloads
share_path = /cowrie/cowrie-git/share/cowrie

# Kernel da mostrare a uname -a
kernel_version = 2.6.32-696.el6.x86_64
kernel_build_string = #1 SMP Tue Mar 21 19:29:05 UTC 2017
hardware_platform = x86_64
operating_system = GNU/Linux

# Versione del sistema operativo (quello che vede /etc/issue)
issue_file = etc/issue

# Seed per randomizzare leggermente le risposte
# (evita fingerprint identici tra sessioni)
uuid_type = random

# Fake filesystem image
filesystem = share/cowrie/fs.pickle

# Data directory for fake file contents
data_path = share/cowrie

# Pool of fake passwords that appear to work
auth_class = UserDB
auth_class_parameters = /cowrie/cowrie-git/etc/userdb.txt


[output_jsonlog]
enabled = true
logfile = ${honeypot:log_path}/cowrie.json

[ssh]
enabled = false

[telnet]
enabled = true
listen_endpoints = tcp:2223:interface=0.0.0.0

[shell]
filesystem = /cowrie/cowrie-git/src/cowrie/data/fs.pickle
processes = /cowrie/cowrie-git/src/cowrie/data/cmdoutput.json
# Simula latenza di un server sotto carico (ms)
exec_timeout = 6
