name: "{{SERVICE_NAME}}"

services:
  dashboard:
    build:
      context: .
      args:
        NPM_VERSION: {{VERSION}}
        NPM_REGISTRY_URI: {{NPM_REGISTRY_URI}}
    env_file:
      - .env
    ports:
      - "127.0.0.1:{{PORT}}:80"
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
